spring.datasource.url=*****

spring.datasource.driverClassName=*****

spring.datasource.username=*****

spring.datasource.password=*****

spring.jpa.database-platform=org.hibernate.dialect.H2Dialect

spring.sql.init.mode=never

spring.jpa.hibernate.ddl-auto=update

spring.h2.console.enabled=true
