<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>ユーザー登録</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
</head>
<body class="container">
	<h1 class="display-4 mb-4">ユーザー登録</h1>
	<form method="post" action="" th:action="@{add}">
		
		<label for="username">ユーザ名</label>
		<input type="text" class="me-1 form-control" name="username" id="username"><br>
		<label for="password">パスワード</label>
		<input type="password" class="me-1  form-control" name="password" id="password"><br>
		<input type="radio" name="role" id="role1" value="ADMIN"><label for="role1">管理者</label>
		<input type="radio" name="role" id="role2" value="USER" checked><label for="role2">一般ユーザ</label><br>
		<input type="submit" class="btn btn-primary px-5 py-2 mt-4" value="登録">
	</form>
</html>