<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>TODO詳細</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
<style>.normal{color: black;} .caution {color: red;} .overdue {color: purple;}</style>
</head>
</head>
<body class="container">
	<h1 class="display-4 mb-4">TODO詳細</h1>
	<table class="table">
		<tr>
			<th>TODO ID</th>
			<td th:text="${itemEx.item.id}"></td>
		</tr>
		<tr>
			<th>ユーザー名</th>
			<td th:text="${itemEx.item.userName}"></td>
		</tr>
		<tr>
			<th>TODO名</th>
			<td th:text="${itemEx.item.title}"></td>
		</tr>
		<tr>
			<th>進捗</th>
			<td th:text="${itemEx.strDone}"></td>
		</tr>
		<tr>
			<th>作成日</th>
			<td th:text="${itemEx.item.created}"></td>
		</tr>
		<tr >
			<th>期日</th>
			<td th:text="${itemEx.item.deadline}" th:classappend="${itemEx.appendClass} ? ${itemEx.appendClass}"></td>
		</tr>
		<tr>
			<th>完了日</th>
			<td th:text="${itemEx.item.completion}"></td>
		</tr>
	</table>
	<form method="post" class="mt-4" action="" th:action="@{/complete}">
		<input type="hidden" name="id" value="" th:value="${itemEx.item.id}" />
		<label>着手中<input type="radio" class="form-check-input" name="progress" value="in_progress" checked></label>
		<label>完了<input type="radio" class="form-check-input" name="progress" value="complete"></label><br>
		<input type="submit" class="btn btn-primary mt-2 mb-4" value="進捗を更新する"/>
	</form>
	<a href="/list">一覧へ戻る</a>
</html>